<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <main class=main>
        <section class="main__section">
            <article class="article__product">
                <div class="product__menu">
                    <img src="../storage/img/back.svg" alt="">         
                    <h5>Checkout</h5>
                    <img src="../storage/img/sidebar.svg" alt="">
                </div>
            </article>
        </section>

        <footer class="footer">
            <a href="#">Pay</a>

        </footer>
    </main>
    
</body>
</html>